.notification {
  display: grid;
  color: #F8F8F8;
  box-sizing: border-box;
  padding: 20px;
  place-content: center;
  background: rgb(31, 31, 67);
  position: fixed;
  width: min(80%, 350px);
  right: 20px;
  bottom: 20px;
  border-radius: 4px;
  font-size: 15px;
  z-index: 999;
}

.success {
  background-color: rgb(31, 31, 67);
}

.error {
  background-color: rgb(237, 67, 55);
}

.pending {
  background-color: rgba(39, 40, 34, 1);
}

